
<!-- header start -->
<!-- <nav class="navbar navbar-expand-lg" style="background-color: #892f82;">
    <div class="container-fluid ">
      <a class="navbar-brand text-white" style="font-weight: 500;font-family:monospace;font-size: 32px;"   routerLink='/home'>NEWS APP</a>
      <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

            <li class="nav-item">
                <a class="nav-link active  text-white" aria-current="page" routerLink='/all-channels'>All Channels</a>
            </li>

          <li class="nav-item">
            <a class="nav-link active  text-white" aria-current="page" routerLink='/home'>Country News</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active  text-white" aria-current="page" routerLink='/tech'>Technical News</a>
          </li>
          
        
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: #cc3247">
    <div class="container-fluid">
      <a routerLink='/india' class="navbar-brand text-light" href="#" style="font-size: 33px;text-shadow: 2px 2px black;margin-left: 30px;">Live News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
           <a class="nav-link active" aria-current="page" routerLink='/india'>Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink='/tech'>Teachnical News</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Country News</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Country
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #cc3247;">
              <li><a class="dropdown-item" routerLink='/home'>India</a></li>
              <li><a class="dropdown-item" routerLink='/usa'>USA</a></li>
              <li><a class="dropdown-item" routerLink='/german'>Germany</a></li>
              <li><a class="dropdown-item" routerLink='/newzland'>New Zealand</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- header end -->


