<div class="main-container">
   <mat-card>
      <h3>details component works.!</h3>
   </mat-card>
</div>

<!-- <div class="main-container">
   <mat-card >
    <h2>ag-grid table :</h2>
    <h2>Total rows : <span class="text-danger">( {{rowData.length}} )</span></h2>

   <button class="m-2" mat-raised-button (click)="getSelectedRows()" color='warn'>Get Selected Rows</button>

    <ag-grid-angular
    #agGrid
    style="width: 80%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
>
</ag-grid-angular>
   </mat-card>
</div> -->
