<app-header ></app-header>

<button aria-colspan="menuBtn" matTooltip="Menu" (click)='toggleSidebar()'   mat-icon-button class="example-icon toggle-btn" aria-label="Example icon-button with menu icon">
    <mat-icon  style="color: white;">menu</mat-icon>
</button> 
<mat-drawer-container  class="example-container">
    <mat-drawer mode="side" [opened]='opened' >
        <div style="display: flex;flex-direction: column;">
          <button class="sidenav-btn" mat-button matTooltip="Signup">  <span><mat-icon class='text-dark'>trending_up</mat-icon></span> <span class="sidenav-text">Live Updates</span> </button>
            <button matTooltip="dashboard" class="sidenav-btn" routerLink='/dashboard' mat-button  matTooltip="Dashboatd">  <span><mat-icon class='text-dark'>dashboard</mat-icon></span><span class="sidenav-text">Carona Cases</span></button>
            <button  class="sidenav-btn" routerLink='/hone' mat-button matTooltip="Masters">  <span><mat-icon class='text-dark'>switch_video</mat-icon></span> <span class="sidenav-text">News videos</span></button>
            <button  class="sidenav-btn" routerLink='/home' mat-button matTooltip="Signup">  <span><mat-icon class='text-dark'>sports_score</mat-icon></span><span class="sidenav-text">Live Sports</span></button>
            <button  class="sidenav-btn" mat-button matTooltip="Signup">  <span><mat-icon class='text-dark'>ondemand_video</mat-icon></span><span class="sidenav-text">Tv Shows</span></button>
            <button  class="sidenav-btn" mat-button matTooltip="Signup">  <span><mat-icon class='text-dark'>public</mat-icon></span><span class="sidenav-text">Live World</span></button>`
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>