<!-- <mat-drawer-container style="margin-top: -52px;" class="example-container">

    <mat-drawer mode="side" [opened]='opened' >
        <div style="display: flex;flex-direction: column;">
            <button class="sidenav-btn" routerLink='/dashboard' mat-icon-button  matTooltip="Dashboatd">  <span><mat-icon>dashboard</mat-icon></span></button>
            <button class="sidenav-btn" routerLink='/projects' mat-icon-button matTooltip="Projects">  <span><mat-icon>assignment</mat-icon></span></button>
            <button class="sidenav-btn" routerLink='/masters' mat-icon-button matTooltip="Masters">  <span><mat-icon>phonelink</mat-icon></span></button>
            <button class="sidenav-btn" routerLink='/signup' mat-icon-button matTooltip="Signup">  <span><mat-icon>person_pin</mat-icon></span></button>
            <button class="sidenav-btn" routerLink='/login' mat-icon-button matTooltip="Login">  <span><mat-icon>login</mat-icon></span></button>
            <button class="sidenav-btn" mat-icon-button matTooltip="Signup">  <span><mat-icon>settings</mat-icon></span></button>
            <button class="sidenav-btn" mat-icon-button matTooltip="Signup">  <span><mat-icon>person</mat-icon></span></button>
            <button class="sidenav-btn" mat-icon-button matTooltip="Signup">  <span><mat-icon>book</mat-icon></span></button>
            <button class="sidenav-btn" mat-icon-button matTooltip="Signup">  <span><mat-icon>home</mat-icon></span></button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> -->