.col-lg-3,.col-xsm-12 {
    box-shadow: 10px 3px 30px #892f82;
    transition: .5s ease-in-out;
}
.col-lg-3,.col-xsm-12 :hover{
    box-shadow: 0px 10px 10px #fff;
    transition: .8s ease-in-out;
    // color: rgba(24, 23, 23, 0.541);
}

