



<div class="main-container">
    
    <mat-card>
      <ngx-spinner 
      bdColor=" rgba(24, 23, 23, 0.541)"
      template="<img src='https://media.giphy.com/media/LG6iQwU99l9Bu/giphy.gif' />">
    </ngx-spinner>
      <h1 style="text-transform: uppercase;font-weight: 500;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Top Headlines :</h1>
      
      <div class="row">
          



  
          <div class="col-lg-3 col-xsm-12 p-2 shadow-cards" *ngFor='let channel of allChannels'>
             
            
            <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title class="text-success">
  {{channel.name | uppercase}}
</mat-panel-title>

</mat-expansion-panel-header>
<p>{{channel.description}}</p>
<a  href="{{channel.url}}" class="btn  btn-sm"  target="_blank">Show More</a>

</mat-expansion-panel>
            
            
            
            
         
          </div>
  
      </div>
    </mat-card>
  </div>
  